<div class="p-5">
	<main>
		<section>
			<h1>Bio list</h1>
			<ul>
				<li>
					<p>Name: {{name}}</p>
					<p>Birthdate: {{birthdate}}</p>
					<p>Birthplace: {{birthplace}}</p>
					<p>Deathdate: {{deathdate}}</p>
					<p>Deathplace: {{deathplace}}</p>
					<p>Nationality: {{nationality}}</p>
					<p>Occupation: {{occupation}}</p>
					<p>Known for: {{known_for}}</p>
				</li>
				<div class="pb-3">
					<b>Education:</b>
				</div>
				<ul>
					{{#each education}}
					<li>
						<p>Degree: {{degree}}</p>
						<p>Field: {{field}}</p>
						<p>Institution: {{institution}}</p>
						<p>Year: {{year}}</p>
					</li>
					{{/each}}
				</ul>
				<div class="pb-3">
					<b>Notable publications:</b>
				</div>
				<ul>
					{{#each notable_publications}}
					<li>
						<p>Title: {{title}}</p>
						<p>Year: {{year}}</p>
						<p>Publisher: {{publisher}}</p>
					</li>
					{{/each}}
				</ul>
				<div class="pb-3">
					<b>Partners:</b>
				</div>
				<ul>
					{{#each partners}}
					<li>
						<p>Name: {{name}}</p>
						<p>Relationship: {{relationship}}</p>
						<p>Years: {{years}}</p>
					</li>
					{{/each}}
				</ul>
				<div class="pb-3">
					<b>Awards:</b>
				</div>
				<ul>
					{{#each awards}}
					<li>
						<p>Title: {{title}}</p>
						<p>Year: {{year}}</p>
						<p>Description: {{description}}</p>
					</li>
					{{/each}}
				</ul>
				<div class="pb-3">
					<b>Influences: </b>
				</div>
				<ul>
					{{#each influences}}
					<li>
						<p>{{this}}</p>
					</li>
					{{/each}}
				</ul>
				<div class="pb-3">
					<b>Influenced: </b>
				</div>
				<ul>
					{{#each influenced}}
					<li>
						<p>{{this}}</p>
					</li>
					{{/each}}
				</ul>
				<div class="pb-3">
					<b>Quotes: </b>
				</div>
				<ul>
					{{#each quotes}}
					<li>
						<p>{{this}}</b>
					</li>
					{{/each}}
				</ul>
				<div class="pb-3">
					<b>Contributions:</b>
				</div>
				<ul>
					<li>
						<p>Title: {{contributions.title}}</p>
						<p>Description: {{contributionsdescription}}</p>
						<p>Year: {{contributions.year}}</p>
						<p>Field: {{contributions.field}}</p>
					</li>
				</ul>
			</ul>
		</section>
	</main>
</div>