<section class="p-5">
  <p><b>Cars</b></p>
  <ul>
    <li>
      <p><b>Make: </b>{{make}}</p>
    </li>
    <li>
      <p><b>Model: </b>{{model}}</p>
    </li>
    <li>
      <p><b>Year: </b>{{year}}</p>
    </li>
    <li>
      <p><b>Color: </b>{{color}}</p>
    </li>
    <p><b>Features:</b></p>
    {{#with features}}
    <ul>
      <p><b>Interior:</b></p>
      {{#with interior}}
      <ul>
        <p><b>Seats:</b></p>
        <ul>
          <li>
            <p><b>Material: </b>{{seats.material}}</p>
          </li>
          <li>
            <p><b>Color: </b>{{seats.color}}</p>
          </li>
          <li>
            <p><b>Heated: </b>{{#if seats.heated}}is{{/if}}</p>
          </li>
          <li>
            <p><b>Ventilated: </b>{{#if seats.ventilated}}is{{/if}}</p>
          </li>
        </ul>
        <p><b>Dashboard:</b></p>
        <ul>
          {{#with dashboard}}
          <li>
            <p><b>Material: </b>{{material}}</p>
          </li>
          <li>
            <p><b>Color: </b>{{color}}</p>
          </li>
          <p><b>Display:</b></p>
          <ul>
            <li>
              <p><b>Type: </b>{{display.type}}</p>
            </li>
            <li>
              <p><b>Size: </b>{{display.size}}</p>
            </li>
            <li>
              <p><b>Resolution: </b>{{display.resolution}}</p>
            </li>
            <li>
              <p><b>Touchscreen: </b>{{display.touchscreen}}</p>
            </li>
          </ul>
          {{/with}}
        </ul>
        <p><b>Audio:</b></p>
        <ul>
          <li>
            <p><b>System: </b>{{audio.system}}</p>
          </li>
          <li>
            <p><b>Speakers: </b>{{audio.speakers}}</p>
          </li>
          <li>
            <p><b>Subwoofer: </b>{{#if audio.subwoofer}}is{{/if}}</p>
          </li>
          <li>
            <p><b>Bluetooth: </b>{{#if audio.bluetooth}}is{{/if}}</p>
          </li>
          <li>
            <p><b>USB: </b>{{#if audio.USB}}is{{/if}}</p>
          </li>
        </ul>
      </ul>
      {{/with}}
      <p><b>Exterior:</b></p>
      {{#with exterior}}
      <ul>
        <p><b>Wheels:</b></p>
        <ul>
          <li>
            <p><b>Size: </b>{{wheels.size}}</p>
          </li>
          <li>
            <p><b>Type: </b>{{wheels.type}}</p>
          </li>
          <li>
            <p><b>Color: </b>{{wheels.color}}</p>
          </li>
        </ul>
        <p><b>Headlights:</b></p>
        <ul>
          <li>
            <p><b>Type: </b>{{headlights.type}}</p>
          </li>
          <li>
            <p><b>Brightness: </b>{{headlights.brightness}}</p>
          </li>
          <li>
            <p><b>Ventilated: </b>{{#if headlights.ventilated}}is{{/if}}</p>
          </li>
        </ul>
        <p><b>Sunroof:</b></p>
        <ul>
          <li>
            <p><b>Type: </b>{{sunroof.type}}</p>
          </li>
          <li>
            <p><b>Size: </b>{{sunroof.size}}</p>
          </li>
          <li>
            <p><b>Automatic: </b>{{#if sunroof.automatic}}is{{/if}}</p>
          </li>
        </ul>
      </ul>
      {{/with}}
      <p><b>Safety:</b></p>
      {{#with safety}}
      <ul>
        <p><b>Airbags:</b></p>
        <ul>
          <li>
            <p><b>Front: </b>{{airbags.front}}</p>
          </li>
          <li>
            <p><b>Side: </b>{{airbags.side}}</p>
          </li>
          <li>
            <p><b>Knee: </b>{{airbags.knee}}</p>
          </li>
          <li>
            <p><b>Rear: </b>{{airbags.rear}}</p>
          </li>
        </ul>
        <p><b>Assistance:</b></p>
        <ul>
          <li>
            <p><b>Blind spot monitoring: </b>{{#if assistance.blind_spot_monitoring}}is{{/if}}</p>
          </li>
          <li>
            <p><b>Rear cross traffic alert: </b>{{#if assistance.rear_cross_traffic_alert}}is{{/if}}</p>
          </li>
          <li>
            <p><b>Lane departure warning: </b>{{#if assistance.lane_departure_warning}}is{{/if}}</p>
          </li>
          <li>
            <p><b>Adaptive cruise control: </b>{{#if assistance.adaptive_cruise_control}}is{{/if}}</p>
          </li>
          <li>
            <p><b>Collision warning: </b>{{#if assistance.collision_warning}}is{{/if}}</p>
          </li>
        </ul>
      </ul>
      {{/with}}
    </ul>
    {{/with}}
    <p><b>Engine:</b></p>
    {{#with engine}}
    <ul>
      <li>
        <p><b>Type: </b>{{type}}</p>
      </li>
      <li>
        <p><b>Displacement: </b>{{displacement}}</p>
      </li>
      <li>
        <p><b>Horsepower: </b>{{horsepower}}</p>
      </li>
      <li>
        <p><b>Torque: </b>{{torque}}</p>
      </li>
      <p><b>Transmission:</b></p>
      <ul>
        <li>
          <p><b>Type: </b>{{transmission.type}}</p>
        </li>
        <li>
          <p><b>Gears: </b>{{transmission.gears}}</p>
        </li>
      </ul>
    </ul>
    {{/with}}
    <p><b>Fuel economy:</b></p>
    <ul>
      <li>
        <p><b>City: </b>{{fuel_economy.city}}</p>
      </li>
      <li>
        <p><b>Highway: </b>{{fuel_economy.highway}}</p>
      </li>
      <li>
        <p><b>Combined: </b>{{fuel_economy.combined}}</p>
      </li>
    </ul>
    <p><b>Price:</b></p>
    {{#with price}}
    <ul>
      <li>
        <p><b>Base: </b>{{base}}</p>
      </li>
      <li>
        <p><b>Destination: </b>{{destination}}</p>
      </li>
      <p><b>Options:</b></p>
      <ul>
        <li>
          <p><b>Navigation: </b>{{options.navigation}}</p>
        </li>
        <li>
          <p><b>Moonroof: </b>{{options.moonroof}}</p>
        </li>
        <li>
          <p><b>Premium_paint: </b>{{options.premium_paint}}</p>
        </li>
      </ul>
      <li>
        <p><b>Total: </b>{{total}}</p>
      </li>
    </ul>
    {{/with}}
  </ul>
</section>