<section class="p-5">
  <b>Name: {{name}}</b>
  <ul>
    <p>Description: {{description}}</p>
    <p><b>History: </b></p>
    <ul>
      <li>
        <p>Year: {{history.year}}</p>
      </li>
      <li>
        <p>Founder: {{history.founder}}</p>
      </li>
    </ul>
    <p><b>Types: </b></p>
    <ul>
      {{#each types}}
      <li>
        <p>{{this}}</p>
      </li>
      {{/each}}
    </ul>
    <p><b>Syntax: </b></p>
    <ul>
      <p><b>Variables:</b></p>
      <ul>
        {{#each syntax.variables}}
        <li>
          <p>{{this}}</p>
        </li>
        {{/each}}
      </ul>
      <p><b>Functions:</b></p>
      <ul>
        {{#each syntax.functions}}
        <li>
          <p>{{this}}</p>
        </li>
        {{/each}}
      </ul>
      <p><b>Conditionals:</b></p>
      <ul>
        {{#each syntax.conditionals}}
        <li>
          <p>{{this}}</p>
        </li>
        {{/each}}
      </ul>
      <p><b>Loops:</b></p>
      <ul>
        {{#each syntax.loops}}
        <li>
          <p>{{this}}</p>
        </li>
        {{/each}}
      </ul>
      <p><b>Classes:</b></p>
      <ul>
        {{#each syntax.classes}}
        <li>
          <p>{{this}}</p>
        </li>
        {{/each}}
      </ul>
    </ul>
    <p><b>Features: </b></p>
    <ul>
      {{#each features}}
      <li>
        <p>{{this}}</p>
      </li>
      {{/each}}
    </ul>
    <p><b>Libraries: </b></p>
    <ul>
      {{#each libraries}}
      <li>
        <p>{{this}}</p>
      </li>
      {{/each}}
    </ul>
    <p><b>Tools: </b></p>
    <ul>
      {{#each tools}}
      <li>
        <p>{{this}}</p>
      </li>
      {{/each}}
    </ul>
    <p><b>Сommunity: </b></p>
    <ul>
      {{#each community}}
      <li>
        Name: {{name}}
      </li>
      <div class="pb-3">
        <li>
          Type: {{type}}
        </li>
      </div>
      {{/each}}
    </ul>
  </ul>
</section>