<div class="p-5">
  <main>
    <section>
      <h1>Person list</h1>
      <ul>
        {{#with person}}
        <li>
          <div>
            <p>
              <b>Name:</b>
              {{name}}
            </p>
            <p>
              <b>Age:</b>
              {{age}}
            </p>
            <p>
              <b>Gender:</b>
              {{gender}}
            </p>
          </div>
          <div class="py-3"><b>Address:</b></div>
          <ul>
            {{#with address}}
            <li>
              <p>Street: {{street}}</p>
              <p>City: {{city}}</p>
              <p>State: {{state}}</p>
              <p>Zip: {{zip}}</p>
              <p>Country: {{country}}</p>
            </li>
            {{/with}}
          </ul>
        </li>
        <div class="pb-3">
          <b>Education:</b>
        </div>
        <ul>
          {{#each education}}
          <li>
            <p>Degree: {{degree}}</p>
            <p>Major: {{major}}</p>
            <p>University: {{university}}</p>
            <p>GraduationYear: {{graduationYear}}</p>
          </li>
          {{/each}}
        </ul>
        <div class="pb-3">
          <b>WorkExperience:</b>
        </div>
        <ul>
          {{#each workExperience}}
          <li>
            <p>Company: {{company}}</p>
            <p>Title: {{title}}</p>
            <p>Period of work: {{startDate}} - {{endDate}}</p>
            <p>Responsibilities: {{responsibilities}}</p>
            <p>Industry: {{industry}}</p>
          </li>
        </ul>
        <div class="pb-3">
          <b>Employees:</b>
        </div>
        <ul>
          {{#each employees}}
          <li>
            <p>Name: {{name}}</p>
            <p>Position: {{position}}</p>
            <p>Department: {{department}}</p>
          </li>
          <div class="pb-3">
            <b>Projects: </b>
          </div>
          <ul>
            {{#each projects}}
            <li>
              <p>Name: {{name}}</p>
              <p>Description: {{description}}</p>
              <p>Status: {{status}}</p>
            </li>
            <div class="pb-3">
              <b>Teams: </b>
            </div>
            <ul>
              {{#each teams}}
              <div class="pb-3">
                <b>Team name: {{team_name}}</b>
              </div>
              <div class="pb-3">
                <b>Team leader:</b>
              </div>
              <ul>
                {{#with team_leader}}
                <li>
                  <p>Name: {{name}}</p>
                  <p>Title: {{title}}</p>
                  <p>Email: {{email}}</p>
                </li>
                {{/with}}
              </ul>
              <div class="pb-3">
                <b>Team members:</b>
              </div>
              <ul>
                {{#each team_members}}
                <li>
                  <p>Name: {{name}}</p>
                  <p>Title: {{title}}</p>
                  <p>Email: {{email}}</p>
                  <p>Skills: {{skills}}</p>
                </li>
                <div class="pb-3">
                  <b>Projects:</b>
                </div>
                <ul>
                  {{#each projects}}
                  <li>
                    <p>Name: {{name}}</p>
                    <p>Description: {{description}}</p>
                    <p>Technologies: {{technologies}}</p>
                  </li>
                  <div class="pb-3">
                    <b>Team members:</b>
                  </div>
                  <ul>
                    {{#each team_members}}
                    <li>
                      <p>Name: {{name}}</p>
                      <p>Title: {{title}}</p>
                    </li>
                    {{/each}}
                  </ul>
                  {{/each}}
                </ul>
                {{/each}}
              </ul>
              </li>
              {{/each}}
            </ul>
            {{/each}}
          </ul>
          {{/each}}
        </ul>
        {{/each}}
        {{/with}}
      </ul>
    </section>
  </main>
</div>