<div class="p-5">
  {{#with program}}
  <main>
    <section>
      <h1>Program list</h1>
      <p><b>Excursion</b></p>
      <ul>
        {{#with excursion}}
        <p><b>Name:</b> {{name}}</p>
        <p><b>Location:</b></p>
        <ul>
          {{#with location}}
          <li>
            <p>City: {{city}}</p>
          </li>
          <li>
            <p>Country: {{country}}</p>
          </li>
          {{/with}}
        </ul>
        </li>
        <li>
          <p><b>Date:</b> {{date}}</p>
        </li>
        <p><b>Program:</b></p>
        <ul>
          {{#with program.[0]}}
          <li>
            <p>Name: {{name}}</p>
          </li>
          <li>
            <p>Type: {{type}}</p>
          </li>
          <li>
            <p>Duration: {{duration}}</p>
          </li>
          {{/with}}
          <div class="pb-1"><b>Details:</b></div>

          {{#each program}}
          {{#with details}}
          {{#with museum}}
          <ul>
            <p><b>Museum:</b></p>
            <ul>
              <li>
                <p>Museum: {{name}}</p>
              </li>
            </ul>
            <p><b>Location:</b></p>
            <ul>
              <li>
                <p>Address: {{location.address}}</p>
              </li>
              <li>
                <p>City: {{location.city}}</p>
              </li>
              <li>
                <p>Country: {{location.country}}</p>
              </li>
            </ul>
            <p><b>Exhibits:</b></p>
            <ul>
              {{#each exhibits}}
              <li>
                <p>Name: {{name}}</p>
              </li>
              <li>
                <p>Artist:
                  {{#unless artist includeZero=true}}
                  There is no
                  {{else}}
                  {{artist}}
                  {{/unless}}
                </p>
              </li>
              <li>
                <p>Description: {{description}}</p>
              </li>
              <li>
                <p>Audio guide: {{#if audio_guide}}Present{{/if}}</p>
              </li>
              {{/each}}
            </ul>
          </ul>
          {{#with ../guide}}
          <p><b>Guide:</b></p>
          <ul>
            <li>
              <p>Name: {{name}}</p>
            </li>
            <li>
              <p>Language: {{language}}</p>
            </li>
            <li>
              <p>Rating: {{rating}}</p>
            </li>
          </ul>
          {{/with}}
          {{/with}}
          {{/with}}
          {{/each}}
        </ul>
        <p><b>Program: </b></p>
        <ul>
          {{#with program.[1]}}
          <li>
            <p>Name: {{name}}</p>
          </li>
          <li>
            <p>Type: {{type}}</p>
          </li>
          <li>
            <p>Duration: {{duration}}</p>
          </li>
          <p><b>Details:</b></p>
          <ul>
            {{#with details}}
            <p><b>Venue:</b></p>
            <ul>
              {{#with venue}}
              <li>
                <p>Name: {{name}}</p>
              </li>
              <p><b>Location:</b></p>
              <ul>
                {{#with location}}
                <li>
                  <p>Address: {{address}}</p>
                </li>
                <li>
                  <p>City: {{ciry}}</p>
                </li>
                <li>
                  <p>Country: {{country}}</p>
                </li>
                {{/with}}
              </ul>
              {{/with}}
              <p><b>Performers:</b></p>
              <ul>
                {{#each performers}}
                <li>
                  <p>Name: {{name}}</p>
                </li>
                <li>
                  <p>Type: {{type}}</p>
                </li>
                {{/each}}
              </ul>
              <p><b>Guide:</b></p>
              <ul>
                {{#with guide}}
                <li>
                  <p>Name: {{name}}</p>
                </li>
                <li>
                  <p>Language: {{language}}</p>
                </li>
                <li>
                  <p>Rating: {{rating}}</p>
                </li>
                {{/with}}
              </ul>
            </ul>
            {{/with}}
          </ul>
          {{/with}}
        </ul>
        {{/with}}
      </ul>
    </section>
  </main>
  {{/with}}
</div>