<main>
    <nav>
        <div class="col-12">
            {{#with navigation}}
            <div class="row g-2">
                {{#each links}}
                <div class="col-2">
                    <a href="{{href}}" class="btn btn-link">{{text}}</a>
                </div>
                {{/each}}
                {{#with button}}
                <div class="col-3">
                    <a href="{{href}}" class="btn btn-primary">{{text}}</a>
                </div>
                {{/with}}
            </div>
            {{/with}}
        </div>
    </nav>
    <div class="row gy-5">
        <hr>
        <section>
            {{#with header}}
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            {{#with button}}
            <a href="{{link}}" class="btn btn-primary">{{text}}</a>
            {{/with}}
            {{/with}}
        </section>
        <hr>
        <section>
            {{#with city}}
            <p>
            <h2>{{title}}</h2>
            </p>
            <div class="row g-2">
                {{#each cards}}
                <div class="col-6">
                    <div class="card">
                        {{#with picture}}
                        <img class="card-img-top" src="{{src}}" alt="{{alt}}">
                        {{/with}}
                        <div class="card-body">
                            <h5 class="title">{{title}}</h5>
                            <p>{{description}}</p>
                            {{#with button}}
                            <a href="{{href}}" class="btn btn-primary">{{text}}</a>
                            {{/with}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
        <hr>
        <section>
            {{#with winner}}
            <p>
            <h2>{{title}}</h2>
            </p>
            {{#with table}}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {{#each head}}
                        <th>{{this}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each user}}
                    <tr>
                        <td>{{place}}</td>
                        <td>{{name}}</td>
                        <td>{{surname}}</td>
                        <td>{{nickname}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/with}}
            {{/with}}
        </section>
        <hr>
        <section>
            {{#with gallery}}
            <p>
            <h2>{{title}}</h2>
            </p>
            <div class="row g-2">
                {{#each cards}}
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">{{name}}</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {{#each items}}
                                <li class="list-group-item">{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
        <hr>
        <section>
            {{#with relaxion}}
            <p class="display-3">{{title}}</p>
            <div class="row gy-5 gx-2">
                {{#each cards}}
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">{{header}}</div>
                        <div class="card-body">
                            <div class="card-title">{{title}}</div>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
        <hr>
        <section>
            {{#with rest}}
            <div class="row g-2">
                {{#each cards}}
                <div class="col-6">
                    <div class="card">
                        <div class="card-header text-center">{{header}}</div>
                        <div class="card-body text-center">
                            <p>
                            <h6 class="card-title">{{title}}</h6>
                            </p>
                            <div>{{description}}</div>
                            <button class="btn btn-primary">{{button}}</button>
                        </div>
                        <div class="card-footer text-center">{{footer}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
        <hr>
        <section>
            {{#with proposition}}
            <div class="card-title">
                <p class="display-2 row gy-4">{{title}}</p>
            </div>
            <div class="row g-2">
                {{#each card }}
                <div class="col-6">
                    <div class="card text-bg-warning">
                        <div class="card-header text-center">{{header}}</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">{{title}}</h6>
                            <div>{{description}}</div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
        <hr>
        <footer>
            {{#with footer}}
            <h5>{{title}}</h5>
            <div class="row g-2">
                <section class="col-3">
                    {{#each navigation}}
                    <div>
                        <a href="{{href}}" class="btn btn-link">{{text}}</a>
                    </div>
                    {{/each}}
                </section>
                <section class="col-3">
                    {{#each socialMedia}}
                    <div>
                        <a href="{{link}}" class="btn btn-outline-dark">{{name}}</a>
                    </div>
                    {{/each}}
                </section>
                <section class="col-3">
                    {{#each socialMedia}}
                    <div>
                        <a href="{{link}}" class="btn btn-outline-info">{{name}}</a>
                    </div>
                    {{/each}}
                </section>
            </div>
            {{/with}}
        </footer>
    </div>
</main>